.GridContainer {
  display: grid;
  grid-template-columns: auto 1024px auto;
  grid-template-rows: auto 1fr 1fr;
}

.VizGrid {
  height: minmax(100vh,max-content);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap : 20px;
  grid-auto-rows: minmax(50px, auto);
  padding: 1em;
}

.VizGrid > div:nth-child(odd){
  background: #eee;
}

.VizGrid > div:nth-child(even){
  background: rgb(148, 148, 148);
}

.viz_wide {
  grid-column: 1/3;
}

.LineGraph {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  background: rgb(255, 255, 255);
}

.TweetTable table tbody {
  display: block;
  height: 250px;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.InfoBar {
  display: grid;
  grid-template-columns: 1fr auto;
  background: rgb(255, 255, 255);
}

.InfoBar > .textDiv {
  text-align: right;
  padding: 4px;
}

.InfoBar > .radioDiv {
  align-content: center;
  padding-top : 5px;
  padding-right : 5px;
  padding-left : 5px;
}

.Header , .Header-Shell {
  width  : 100%;
  height : 80px;
}

.Header {
  position: fixed;
  grid-column: 1/4;
  background: rgb(136, 255, 136);
  text-align: center;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;  
  z-index: 10000;
}

.HeaderLinks {
  background: rgb(150, 150, 150);
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  align-items: center;  
  justify-content: center;
}

.Searchbar {
  margin-left: 10%;
  margin-right: 10%;
}

.Left, .Right {
  background: rgb(255, 251, 27);
}

.Header-Shell {
  grid-column: 1/4;
}

.Footer {
  grid-column: 1/4;
  background: rgb(0, 0, 0);
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
