.idea/
*.iml
*.ipr

.python-version
*.iml


.DS_Store
.venv
.vscode
venv
build
node_modules
**/*.pyc
__pycache__
.cache
npm-debug.log
yarn-error.log

server/temp
server/cff/modeling/*
!server/cff/modeling/__init__.py

