[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.4"
Flask-SQLAlchemy = "==2.5.1"
Flask-Script = "==2.0.6"
Flask-Migrate = "==2.7.0"
py-healthcheck = "*"
click = "*"
yfinance = "*"
reticker = "*"
pre-commit = "==2.12.1"
rq = "==1.8.0"
black = "==21.4b2"
rq-dashboard = "*"
pyEX = "==0.5.0"
nltk = "==3.6.2"
contractions = "==0.0.49"
jsbeautifier = "==1.13.13"
tensorflow = "==2.5.0"
sklearn = "*"
tensorflow-text = "==2.5.0"

[dev-packages]
ipython = "*"
line-profiler = "*"

[requires]
python_version = "3.8"

[packages.snscrape]
git = "https://github.com/JustAnotherArchivist/snscrape.git"
