[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-Script = "*"
py-healthcheck = "*"
click = "*"
yfinance = "*"
reticker = "*"
pre-commit = "*"
rq = "==1.8.0"
black = "==21.4b2"
rq-dashboard = "*"

[dev-packages]
ipython = "*"
line-profiler = "*"

[requires]
python_version = "3.8"

[dev-packages.snscrape]
git = "https://github.com/JustAnotherArchivist/snscrape.git"
